# Dependencies
node_modules/
.pnp
.pnp.js

# Production / Build output
dist/
build/

# Local cache & logs
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
deno_dev.log
*.log

# Heavy archives & binaries
AE.rar
ffmpeg/
renders/

# Environment variables & editor
.env
.env.local
.env.*.local
.vscode/
.idea/
.DS_Store
Thumbs.db
